
#container {
    margin: auto;
    position: relative;
    width: 1200px;
    height: 800px;
    text-align: center;
    background-color: rgb(206, 202, 232);
}

h1 {
    position: relative;
    top: 70px;

    margin: auto;
    font-size: 50px;
    font-style: italic;
    color: grey;
}

#game-space {
    margin: auto;
    position: relative;
    top: 170px;

    width: 452.5px;
    height: 455px;    
    border: 2px solid rgb(179, 0, 71);
    background-color: white; 
}

.special_game_state{
    position: absolute;
    top: 400px;
    left: 300px;

    transform: rotate(-20deg);
    z-index: 100;
    font-weight: bold;
    font-size: 100px;
}


#game_over {
    color: hotpink;
}

#game_paused {
    color: rgb(72, 190, 63);
}



